.footer {
  position: relative;
  display: flex;
  min-height: 120px;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 48px;
  background: $black-pearl;
}

.footer__container {
  display: grid;

  grid-template-columns: 1fr 2fr 1.5fr;
  gap: 5vw;
}

.footer__social {
  display: flex;
  flex-direction: column;
  gap: 35px;
  transform: translate(4px, 5px);
}

.footer__social--logo img {
  transition: $trans-easeinout;
}

.footer__social--logo img:hover,
.footer__social--logo img:focus {
  opacity: 0.8;
  transform: $trans-scale3d;
}

.footer__social--logo img:active {
  opacity: 0.6;
  transform: none;
}

.footer__social--list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  transform: translate(15px, 0);
}

.footer__social--link svg {
  color: $light-shade-of-gray;
  transition: $trans-easeinout;
}

.footer__social--link svg:hover,
.footer__social--link svg:focus {
  opacity: 0.8;
  transform: $trans-scale3d;
}

.footer__social--link svg:active {
  color: $blue-bolt;
  opacity: 1;
  transform: none;
}

.footer__navigation {
  transform: translate(2.8vw, 0);
}

.footer__navigation h2,
.footer__address h2 {
  margin-bottom: 19px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
}

.footer__navigation--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
}

.footer__navigation--list,
.footer__address--list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.footer__navigation--link {
  font-family: inherit;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 20px;
  color: $color-default-white-opacity;
  transition: $trans-easeinout;
}

.footer__navigation--link:hover,
.footer__navigation--link:focus {
  font-size: 16.2px;
  color: $color-default-white;
  opacity: 0.8;
}

.footer__navigation--link:active {
  color: $color-default-white;
  opacity: 1;
}

.footer__accordion--content p {
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 21px;
  color: $color-default-white-opacity;
  transform: translate(0, 2px);
}

.footer__address--link {
  font-family: inherit;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 25px;
  color: $color-default-white-opacity;
  transition: $trans-easeinout;
}

.footer__address--link:hover,
.footer__address--link:focus {
  font-size: 16.2px;
  opacity: 0.8;
}

.footer__address--link:active {
  color: $color-default-white;
}

@media (max-width: $vp-1023) {
  .footer {
    padding-bottom: 62px;
  }

  .footer__container {
    grid-template-columns: 1fr 1.5fr;
    gap: 30px 18vw;
  }

  .footer__social {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-column: 1/-1;
    gap: initial;
    transform: translate(0, 5px);
  }

  .footer__social--list {
    transform: translate(0, 10px);
  }

  .footer__navigation {
    transform: translate(0, 0);
  }

  .footer__navigation--container {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

@media (max-width: $vp-767) {
  .footer {
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    gap: initial;
    padding: 0;
  }

  .footer__social {
    flex-direction: column;
    gap: 10px;
    padding: 0 50px 37px;
    transform: translate(-3px, 5px);
  }

  .footer__social--logo {
    display: flex;
    justify-content: center;
  }

  .footer__social--list {
    justify-content: center;
    transform: translate(5px, 10px);
  }

  .footer__accordion {
    border-top: 1px solid $light-shade-of-gray-opacity;
    border-bottom: 1px solid $light-shade-of-gray-opacity;
  }

  .footer__navigation h2,
  .footer__address h2 {
    position: relative;
    margin-bottom: 13px;
    padding: 8px 26px 6px;
    transition: $trans-easeinout;
    cursor: pointer;
  }

  .footer__navigation h2:hover,
  .footer__address h2:hover,
  .footer__navigation h2:focus,
  .footer__address h2:focus {
    font-size: 15.2px;
    opacity: 0.8;
  }

  .footer__navigation h2:active,
  .footer__address h2:active {
    color: $light-shade-of-gray-opacity;
  }

  .footer__accordion h2::before,
  .footer__accordion h2::after {
    transition: $trans-easeinout;
    opacity: 0;
  }

  .footer__accordion h2:hover::before,
  .footer__accordion h2:hover::after {
    transform: rotate3d(1, 1, 1, 360deg);
  }

  .footer__accordion-nojs .footer__accordion h2::before,
  .footer__accordion-nojs .footer__accordion h2::after {
    display: none;
  }

  .footer__accordion h2::before {
    content: "";
    position: absolute;
    display: block;
    top: 14px;
    right: 29px;
    width: 14px;
    height: 1px;
    background-color: $light-shade-of-gray-opacity;
    opacity: 1;
  }


  .footer__accordion h2::after {
    content: "";
    position: absolute;
    display: block;
    top: 14px;
    right: 29px;
    width: 14px;
    height: 1px;
    background-color: $light-shade-of-gray-opacity;
    transform: rotate(90deg);
    opacity: 1;
  }

  .footer__accordion-open.footer__accordion h2::after {
    display: none;
  }

  .footer__accordion-nojs .footer__accordion--content,
  .footer__accordion-open .footer__accordion--content {
    display: block;
    padding: 0 26px 12px;
    transform: translate(0, -5px);
    transition: $trans-easeinout;
  }

  .footer__accordion--content {
    display: none;
  }

  .footer__navigation--list {
    margin-bottom: 5px;
  }

  .footer__address--link,
  .footer__accordion--content p,
  .footer__navigation--link {
    font-size: 14px;
    line-height: 19px;
  }

  .footer__navigation--link:hover,
  .footer__navigation--link:focus,
  .footer__address--link:hover,
  .footer__address--link:focus {
    font-size: 14.2px;
    opacity: 0.8;
  }

  .footer__accordion--content p {
    margin-bottom: 19px;
  }
}
