.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: $black-opacity;
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 500px;
    padding: 37px 40px 40px;

    background-color: $blue-bolt;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__form h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
}

.modal__form p {
  width: 95%;
  margin-top: 5px;
  margin-bottom: 36px;
  font-family: $ff-pt-mono;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 22px;
  color: $color-default-white;
  transform: translate(0, -1px);
}

.modal__form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__form span {
  padding: 10px 0;
  font-family: $ff-pt-mono;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: $color-default-white;
}

.modal__form input,
.modal__form-textarea textarea {
  width: 100%;
  font-family: $ff-pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  outline: none;
  transition: $trans-easeinout;
}

.modal__form input {
  padding: 14px 14px 15px 14px;
}

.modal__form-textarea {
  grid-column: 1/ -1;
}

.modal__form-textarea textarea {
  padding: 23px 15px;
}

.modal__form input::placeholder,
.modal__form textarea::placeholder {
  color: $color-default-white;
}


// .modal__form input#name-modal,
.modal__form input:hover,
.modal__form textarea:hover,
.modal__form input:focus,
.modal__form input:focus-within,
.modal__form textarea:focus {
  color: $black-pearl-second;
  background: $deep-sky-blue;
  box-shadow: 0 3px 10px $black-pearl-second;
}

.modal__form-button {
  width: auto;
  padding: 14px 69px 10px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: $fz-default;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background: $black-pearl-second;
  border-radius: 3px;
  border: 1px solid $black-pearl-second;
  transform: translate(-0.5px, -4px);
  transition: $trans-easeinout;
}

.modal__form-button:hover,
.modal__form-button:focus {
  color: $black-pearl-second;
  background: $deep-sky-blue;
  border: 1px solid $black-pearl-second;
  box-shadow: 0 3px 10px $black-pearl-second;
}

.modal__form-button:active {
  opacity: 0.8;
  transform: translate(0, 6px) $trans-scale3d;
}

.modal__form-checkbox {
  transform: translate(34px, -4px);
}

.modal__form-checkbox label {
  display: block;
}

.modal__form .modal__form-checkbox-span {
  position: relative;
  display: block;
  padding: 0;
  font-family: $ff-pt-mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  transition: $trans-easeinout;
  cursor: pointer;
}

.modal__form-checkbox-span:hover,
.modal__form-checkbox-span:focus {
  font-weight: 700;
  color: $black-pearl-second;
  transform: $trans-scale3d;
}

.modal__form-checkbox-span:active {
  color: $black-pearl-second;
}

.modal__form-checkbox-span::before,
.modal__form-checkbox-span::after {
  content: "";
  position: absolute;
  top: 0.5px;
  left: -25px;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  transition: $trans-easeinout;
}

.modal__form-checkbox-span:hover::before,
.modal__form-checkbox-span:hover::after,
.modal__form-checkbox-span:focus::before,
.modal__form-checkbox-span:focus::after {
  border-color: $black-pearl-second;
}

.modal__form--checkbox-span::after {
  opacity: 0;
}

.modal__form-checkbox input:checked ~ .modal__form-checkbox-span::after {
  top: 3px;
  left: -22px;
  width: 6px;
  height: 5px;
  border-color: $color-default-white;
  border-radius: inherit;
  border-top-style: none;
  border-right-style: none;
  border-width: 1.5px;
  transform: rotate(-45deg);
  opacity: 1;
}

.modal__form-checkbox input:checked ~ .modal__form-checkbox-span:hover::after,
.modal__form-checkbox input:checked ~ .modal__form-checkbox-span:focus::after {
  border-color: $black-pearl-second;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  transition: $trans-easeinout;
  transform: $trans-scale3d;
}

.modal__close-btn::before,
.modal__close-btn::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 13px;
  width: 28px;
  height: 1px;
  background-color: $color-default-white;
  transform: rotate(45deg);
  transition: $trans-easeinout;
}

.modal__close-btn::after {
  transform: rotate(-45deg);
}

.modal__close-btn:hover::before,
.modal__close-btn:hover::after,
.modal__close-btn:focus::before,
.modal__close-btn:focus::after {
  background-color: $black-pearl-second;
}
