.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 30px 0 25px;
  gap: 10px;
}

.nav__logo {
  transform: translate(1px, 0);
}

.nav__logo svg {
  color: $alice-blue-second;
  transition: $trans-easeinout;
}

.nav__logo svg:hover,
.nav__logo svg:focus {
  color: $deep-sky-blue;
  opacity: 0.8;
  transform: $trans-scale3d;
}

.nav__logo svg:active {
  opacity: 0.6;
  transform: none;
}

.nav__list {
  display: flex;
  transform: translate(3.4vw, 0);
  gap: 1vw 6.3vw;
  flex-wrap: wrap;
}

.nav__item-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
  font-family: $ff-pt-mono;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 18px;
  color: $alice-blue-second;
  transition: $trans-easeinout;
}

.nav__item-link:hover,
.nav__item-link:focus {
  opacity: 0.8;
  transform: $trans-scale3d;
}

.nav__item-link:hover svg,
.nav__item-link:focus svg {
  color: $alice-blue-second;
}

.nav__item-link:active,
.nav__item-link:active svg {
  color: $blue-bolt;
  opacity: 1;
  transform: none;
}

.nav__item-link svg {
  color: $deep-sky-blue;
}

.nav__button {
  margin-left: auto;
  transform: translate(-61px, 5px);
  padding: 9.5px 17px 13px 16.5px;
  color: $alice-blue-second;
  border: 1px solid $alice-blue-second;
  border-radius: 3px;
  transition: $trans-easeinout;
}

.nav__button:hover,
.nav__button:focus {
  background: $deep-sky-blue;
  border: 1px solid $deep-sky-blue;
}

.nav__button:active {
  opacity: 0.8;
  transform: translate(-61px, 5px) $trans-scale3d;
}

@media (max-width: $vp-1023) {
  .header__nav {
    grid-template-columns: 1fr 2fr;
    padding: 20px 0 18px;
  }

  .nav__logo {
    transform: translate(0, 0);
  }

  .nav__list {
    margin-left: auto;
    transform: translate(-16px, 0);
    gap: 1.2vw;
  }

  .nav__item-text,
  .nav__button {
    display: none;
  }

  .nav__item-link {
    padding: 10px 15px;
    gap: 0;
  }
}

@media (max-width: $vp-767) {
  .header__nav {
    padding: 15px 0 15px;
  }

  .nav__logo svg {
    width: 135px;
    height: auto;
    color: transparent;
  }

  .nav__list {
    transform: translate(-5px, -5px);
    gap: 1vw 3vw;
  }
}
